{%extends 'tl\tl_base.html'%} 
{%load static%}
{%block content%}





<div class="row">
    <div class="col-12 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-12 col-sm-10 col-md-10 col-lg-10 grid-margin table1">
        <div><label id="head">TL Reported Issues</label></div>
        <div class="card p-3">
            <div class="card-body">
                <label style="font-size: 18px; font-weight: 400;color: #6C7293 !important;">Issues</label><br><br>
                <input type="text" class="form-control text-light" id="myInput" onkeyup="myFunction()" name="search"
                    autocomplete="off" placeholder="Search by Name">
                <br>
                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead>
                            <tr>
                                <th> S.No </th>
                                <th> Name </th>
                                <th> Designation</th>
                                <th> Date </th>
                                <th>Issue</th>
                                <th> Action</th>


                            </tr>
                        </thead>

                        

                        <tbody>



                            <tr>
                                <td> 1</td>

                                <td>anandhu</td>
                                <td> programer </td>

                                <td>15/03/2022</td>
                                <td>error</td>

                                <td>
                                    
                                    
                                        <div class="btn btn-outline-warning" data-toggle="modal"
                                            data-target="#myModal">
                                            <i class=" text-warning mdi mdi-send btn-icon-prepend"></i>Reply
                                        </div>

                                    
                                   


                                    <a href="#">
                                        <div class="badge badge-outline-success" style="width: 105px;">
                                            <i class="text-success mdi mdi-playlist-check"></i>&nbsp;Verified
                                        </div>
                                    </a>
                                   
                                </td>
                            </tr>

                            
                            <tr>
                              <td> 2</td>

                              <td>arjun</td>
                              <td> programer </td>

                              <td>14/03/2022</td>
                              <td>error</td>

                              <td>
                                  
                                  
                                      <div class="btn btn-outline-warning" data-toggle="modal"
                                          data-target="#myModal">
                                          <i class=" text-warning mdi mdi-send btn-icon-prepend"></i>Reply
                                      </div>

                                  
                                 


                                  <a href="#">
                                      <div class="badge badge-outline-success" style="width: 105px;">
                                          <i class="text-success mdi mdi-playlist-check"></i>&nbsp;Verified
                                      </div>
                                  </a>
                                 
                              </td>
                          </tr>



                        </tbody>

                        

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 grid-margin stretch-card bg-dark text-light modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Reply</h4>
                <button type="button" style="color: white; border: none;background-color: transparent;" class="close"
                    data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="#" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row p-3">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                                    <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 form-control  text-light"
                                        style="height: 200px; background-color: #2A3038; " name="reply"
                                        rows="4"> </textarea>
                                </div>
                            </div>
                            <br>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center pb-3">
                                <button type="submit" 
                                    class="btn btn-outline-primary btn-icon-text ">
                                    <i class="text-primary mdi mdi-send btn-icon-prepend"></i>
                                    Send
                                </button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>




    <script>

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
  

    {% endblock %}