
{%extends 'tl\tl_base.html'%} 
{%load static%}
{%block content%}




<div class="row">
  <div class="col-12 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-12 col-sm-10 col-md-10 col-lg-10 ">
      <div class="text-light pt-4  " style="font-size: 20px;font-weight: 600;opacity: 0.9;">Assigned Tasks</div>
    <div class="card p-3">
      <div class="card-body">
        <h4 class="card-title "style="color:#6C7293;">Tasks</h4>
        <input type="text" class="form-control text-light "  onkeyup="myFunction()" id="search" name="search" autocomplete="off" placeholder="Search...">
        <br>
        <div class="table-responsive">
          <table class="table" id="myTable">
            <thead>
              <tr>
                
                <th> S.No </th>
                <th> Task Name </th>
                
                <th> Due Date </th>
                <th> Submission Date</th>
                <th> Action</th>


              </tr>
            </thead>
            <tbody>
              
              <tr>
                
                  <td>1</td>
                  <td>tl module </td>
                  <td> 15/03/2022</td>
                  <td>14/03/2022</td>
                 
                  
                  <td><a href="{% url 'tl_taskpending' %}">
                    <div class="badge badge-outline-primary">Pending</div>
                  </a>
                  </td>
               </tr>
                 
                 <tr>
                
                  <td>2</td>
                  <td>develop module </td>
                  <td> 15/03/2022</td>
                  <td>15/03/2022</td>
                  <td><a href="{% url 'tl_tasksubmit' %}">
                    <div class="badge badge-outline-success">submitted</div>
                  </a>
                  </td>
                  
             </tr>
             
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  function myFunction() {
   var input, filter, table, tr, td, i, txtValue;
   input = document.getElementById("search");
   filter = input.value.toUpperCase();
   table = document.getElementById("myTable");
   tr = table.getElementsByTagName("tr");
   for (i = 0; i < tr.length; i++) {
     td = tr[i].getElementsByTagName("td")[1];
     if (td) {
       txtValue = td.textContent || td.innerText;
       if (txtValue.toUpperCase().indexOf(filter) > -1) {
         tr[i].style.display = "";
       } else {
         tr[i].style.display = "none";
       }
     }
   }
 }
 </script>




{% endblock %}