
{%extends 'tl\tl_base.html'%} 
{%load static%}
{%block content%}



<div class="row">
  
  <div class="col-12 col-sm-2 col-md-2 col-lg-2"></div>
  <div class="col-12 col-sm-8 col-md-8 col-lg-8 ">
    <div class="text-light pt-4  " style="font-size: 20px;font-weight: 600;opacity: 0.9;">PROJECTS</div>
  
    <div class="card">
      <div class="card-body">
          <div class="form-group row">
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label"style="color:#6C7293;">TASK</label>
            <div class="col-sm-9">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label" style="color:#6C7293 ;">Develop Module</label>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label"style="color:#6C7293;">DATE</label>
            <div class="col-sm-9">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label" style="color:#6C7293 ;">15/03/2022</label>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label"style="color:#6C7293;">DESCRIPTION</label>
            <div class="col-sm-9">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label" style="color:#6C7293 ;">developer module</label>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label"style="color:#6C7293;">SUBMIT DATE</label>
            <div class="col-sm-9">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label" style="color:#6C7293 ;">15/03/2022</label>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label"style="color:#6C7293;">SCREENSHOT</label>
            <div class="col-sm-9">
                <img src="{% static '/assets/images/faces/face14.jpg' %}" style="height: 100px; width: 100px;">
            </div>
          </div> 
        
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock  %}