{%extends 'tl\tlDashboard.html'%} 
{%load static%}
{%block content%}


<div class="row">
    <div class=" ml-5 " style="font-size: 20px;font-weight: 600;opacity: 0.9;color: #6c7293;">Projects</div>
  </div>
  <br>
  
  <div class="row">
    <div class="col-sm-4 grid-margin">
      <a href="{% url 'tlproject_task' %}" style="text-decoration: none;">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-6 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h4 class="mb-0" style="color: white;">Python Django</h4>
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-codepen text-primary ms-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4 grid-margin">
      <a href="{% url 'tlproject_task' %}" style="text-decoration: none;">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-6 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h4 class="mb-0" style="color: white;">Core New Project</h4>
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-codepen text-primary ms-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
       </div>
    {%endblock%}
