{% extends 'course\base_course.html' %}
{% load static %}
{% block content %} 
            <div class="row" style="padding-top:20px;">
                <div class="col-lg-6 col-sm-6 col-12 col-md-6 grid-margin "style="padding-top:20px">
                    <a href="/course_add/" style="text-decoration: none">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" >
                                    <div class="col-8 col-sm-12 col-xl-8 col-md-7 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h3 class="mb-0" style="color:white;font-size:20px; ">Add Course</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-2 col-md-5 text-center text-xl-right">
                                        <i class="icon-lg mdi mdi-database text-danger ms-auto" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6 col-12 col-md-6 grid-margin" style="padding-top:20px">
                    <a href="/course_category/" style="text-decoration: none">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" >
                                    <div class="col-8 col-sm-12 col-xl-8 col-md-7 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h3 class="mb-0" style="color:white;font-size:20px; ">Course</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-2 col-md-5 text-center text-xl-right">
                                        <span class="icon-lg mdi mdi-laptop-chromebook text-danger ms-auto"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
{% endblock %}
    