{% extends 'course\base_course.html' %}
{% load static %}
{% block content %} 
            <div class="row" style="padding-top:20px;">
                <div class="col-lg-1 col-sm-1 col-12 col-md-1 grid-margin" ></div>
                
                <div class="col-lg-10 col-sm-10 col-12 col-md-10 grid-margin "style="padding-top:20px">
                    
                        <div class="card">
                            <div class="card-body" >
                                <div class="row" style="padding-top:20px" >


                                    <div class="col-8 col-sm-12 col-xl-8 col-md-7 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h3 class="mb-0" style="color:white;font-size:20px; ">python</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-2 col-md-5 text-center text-xl-right">
                                        <img src="{% static '/python.png' %}" style="height: 50px; width: 50px;">
                                    </div>





                                </div>
                                <div class="row" style="padding-top:20px" >

                                    
                                    <div class="col-8 col-sm-12 col-xl-8 col-md-7 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h3 class="mb-0" style="color:white;font-size:20px; ">Duration</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-2 col-md-5 text-center text-xl-right">
                                        6 Months
                                    </div>





                                </div>
                                <div class="row" style="padding-top:20px" >

                                    
                                    <div class="col-4 col-sm-4 col-xl-4 col-md-4 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h3 class="mb-0" style="color:white;font-size:20px; ">Sylabus</h3>
                                        </div>
                                    </div>
                                    <div class="col-8 col-sm-12 col-xl-8 col-md-8 text-center text-xl-right">
                                        <label class="">
                                        Python Tutorial , Python HOME , Python Intro,
                                        Python Get Started ,Python Syntax ,Python Comments,
                                        Python Variables, Python Data Types ,Python Numbers,
                                        Python Casting, Python Strings, Python Booleans, Python Operators,
                                        Python Tutorial , Python HOME , Python Intro,
                                        Python Get Started ,Python Syntax ,Python Comments,
                                        Python Variables, Python Data Types ,Python Numbers,
                                        Python Casting, Python Strings, Python Booleans, Python Operators,
                                        Python Tutorial , Python HOME , Python Intro,
                                        Python Get Started ,Python Syntax ,Python Comments,
                                        Python Variables, Python Data Types ,Python Numbers,
                                        Python Casting, Python Strings, Python Booleans, Python Operators,
                                        </label>

                                    </div>





                                </div>
                            </div>
                        </div>
                    
                </div>
                
                
            </div>
        
        
{% endblock %}
    