{%extends 'software/digitalmarketing\datacollector\base_datacollector.html'%} {%load static%} {%block content%}

<link rel="stylesheet" href="{% static 'assets/css/marketing/TL_carddet.css' %}">
<div class="container">
    <div class="card mt-5">
        <div class="card-body" style="overflow-x: auto;">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <h3 class="page-title ">Product Table</h3>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12"><br></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <form>
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control text-white" id="myInput" onkeyup="myFunction()" placeholder="Search" />
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Location</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            
                            <td>ajay</td>
                            <td>ajay@gmail.com</td>
                            <td>9988776655</td>
                            <td>wayanad</td>

                            
                        </tr>

                        <tr>
                            <td>ram</td>
                            <td>ram@gmail.com</td>
                            <td>9988776655</td>
                            <td>palakkad</td>

                           
                        </tr>

                        <tr>
                            <td>jay</td>
                            <td>jay@gmail.com</td>
                            <td>9988776655</td>
                            <td>wayanad</td>

                            
                        </tr>

                        <tr>
                            <td>nikhil</td>
                            <td>nikhil@gmail.com</td>
                            <td>9988776655</td>
                            <td>kannur</td>

                           
                        </tr>

                        <tr>
                            <td>ajay</td>
                            <td>ajay@gmail.com</td>
                            <td>9988776655</td>
                            <td>wayanad</td>

                            
                        </tr>

                        <tr>
                            <td>ajay</td>
                            <td>ajay@gmail.com</td>
                            <td>9988776655</td>
                            <td>wayanad</td>

                            
                        </tr>

                        <tr>
                            <td>nikhil</td>
                            <td>nikhil@gmail.com</td>
                            <td>9988776655</td>
                            <td>kannur</td>

                            
                        </tr>

                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="container d-none d-lg-block">
    <div class="card">
        <div class="card-body dcsub">
            <table class="table table-responsive table-bordered d-flex justify-content-center">
                <tr id="rowdata" >
                    <td><input type="text" name="" id="" class="ml-5"></td>
                    <td><input type="email" name="" id="" class="ml-5"></td>
                    <td><input type="text" name="" id="" class="ml-5"></td>
                    <td><input type="text" name="" id="" class="ml-5"></td>
                </tr>
            </table>
            <div class="d-flex justify-content-center">
                <input type="submit" class="mt-4 btn btn-outline-primary">
            </div>
        </div>
    </div>
</div>

<div class="container d-lg-none mt-5">
    <div class="card">
        <div class="card-body dcsub text-center">
            <div class="mb-2">
                <label for="">Name:</label><br>
                <input class="mt-2"  type="text" name="" id="">
            </div>

            <div class="mb-2">
                <label for="">Email:</label><br>
                <input class="mt-2" type="email" name="" id="">
            </div>
            
            <div class="mb-2">
                <label for="">Phone Number:</label><br>
                <input class="mt-2" type="text" name="" id="">
            </div>
            
            <div class="mb-2">
                <label for="">Location:</label><br>
                <input class="mt-2" type="text" name="" id="">
            </div>            

            <div class="d-flex justify-content-center">
                <input type="submit" class="mt-4 btn btn-outline-primary">
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    
</script>

{% endblock %}