
{%extends 'tl\tlDashboard.html'%} 
{%load static%}
{%block content%}


<style>

</style>


<body>
 
<div class="row">
  <div class="col-12 col-sm-6 col-md-6 col-lg-6 grid-margin"style="padding-top:20px">
            <a href="{% url 'tl_reportissue_table' %}" style="text-decoration: none">

             
              <div class="card">
                <div class="card-body">
                    <div class="row pt-3" >
                        <div class="col-8 col-sm-8 col-xl-8 col-md-7 my-auto">
                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                <h3 class="mb-0" style="color:white;font-size:20px; ">Reported issues</h2>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-archive text-primary ms-auto"></i>
                </div>
              </div>
            </div>
          </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 grid-margin"style="padding-top:20px">
          <div class="card" style="max-height: 250px">
        <a href="{% url 'tl_reportissue_register' %}" style="text-decoration: none">

          <div class="card">
            <div class="card-body">
                <div class="row pt-3" >
                    <div class="col-8 col-sm-8 col-xl-8 col-md-7 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h3 class="mb-0" style="color:white;font-size:20px; ">Report an issue</h3>
                </div>
            </div>
            <div class="col-4 col-sm-4 col-xl-2 col-md-5 text-center text-xl-right">
                <span class="icon-lg mdi mdi-arrange-send-to-back text-primary ms-auto"></span>
            </div>
        </div>
    </div>
</div>
</a>
</div>
</div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 grid-margin"style="padding-top:20px">
      <div class="card" style="max-height: 250px">
        <a href="{% url 'tl_developreport' %}" style="text-decoration: none">

          <div class="card">
            <div class="card-body">
                <div class="row pt-3" >
                    <div class="col-8 col-sm-8 col-xl-8 col-md-7 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h3 class="mb-0" style="color:white;font-size:20px; ">Developer Report</h3>
                </div>
            </div>
            <div class="col-4 col-sm-4 col-xl-2 col-md-5 text-center text-xl-right">
                <span class="icon-lg mdi mdi-arrange-send-to-back text-primary ms-auto"></span>
            </div>
        </div>
    </div>
</div>
</a>
</div>
</div>

{% endblock %}