<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>INFOX CORE</title>
    <!--searchbar link-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'assets/vendors/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js'%}"></script>
    <script src="{% static 'assets/vendors/chart.js/Chart.min.js'%}"></script>
    <script src="{% static 'assets/vendors/chart.js/Chart.min.js'%}"></script>
</head>
<style>
    @media (max-width:992px) {
        #log {
            max-width: 100px;
            margin-top: 12px;
            margin-left: 25px;
            margin-right: 15px;
        }

    }
</style>

<body>

    <!-- <div class="main-panel"> -->
        <div class="content-wrapper">
            <div class="row justify-content-center pt-5">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 grid-margin my-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 my-auto">
                                    <h3>Projects</h3>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table " id="myTable">
                                    <thead>
                                        <tr data-href="#">
                                            <th>slno</th>
                                            <th>projects</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr data-href="#">
                                            <td>1</td>
                                            <td>Core project</td>
                                        </tr>

                                        <tr data-href="#">
                                            <td>2</td>
                                            <td>Main project</td>
                                        </tr>

                                        <tr data-href="#">
                                            <td>3</td>
                                            <td>Sub project</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>