<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <title>Document</title>
    <style>
        .card {
            background-color: #191c24;
            height: 200px;
        }
    </style>
</head>
<body style="background-color: black;">
    <!-- <div class="main-panel">
        <div class="content-wrapper"> -->
            <div class="row" style="padding-top:20px;">
                <div class="col-lg-4 col-sm-4 col-12 col-md-4 grid-margin "style="padding-top:20px">
                    <a href="#" style="text-decoration: none">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="padding-top:50px;">
                                    <div class="col-8 col-sm-12 col-xl-8 col-md-7 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h3 class="mb-0" style="color:white;font-size:20px; ">Core</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-2 col-md-5 text-center text-xl-right">
                                        <i class="icon-lg mdi mdi-code-tags text-danger ms-auto"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-4 col-12 col-md-4 grid-margin"style="padding-top:20px">
                    <a href="{% url 'software'%}" style="text-decoration: none">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="padding-top:50px;">
                                    <div class="col-8 col-sm-12 col-xl-8 col-md-7 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h3 class="mb-0" style="color:white;font-size:20px; ">Software</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-2 col-md-5 text-center text-xl-right">
                                        <span class="icon-lg mdi mdi-laptop-chromebook text-danger ms-auto"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-4 col-12 col-md-4 grid-margin"style="padding-top:20px">
                    <a href="#" style="text-decoration: none">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="padding-top:50px;">
                                    <div class="col-8 col-sm-12 col-md-7 col-xl-8 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h3 class="mb-0" style="color:white;font-size:20px; ">Production</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-12 col-md-5 col-xl-2 text-center text-xl-right">
                                        <i class="icon-lg mdi mdi-wrench text-warning ms-auto"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row" style="padding-top:20px;">
                <div class="col-lg-4 col-sm-4 col-12 col-md-4 grid-margin"style="padding-top:20px">
                    <a href="#" style="text-decoration: none">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="padding-top:50px;">
                                    <div class="col-8 col-sm-12 col-xl-8 col-md-7 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h3 class="mb-0" style="color:white;font-size:20px; ">Hospital</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-2 col-md-5 text-center text-xl-right">
                                        <i class="icon-lg mdi mdi-hospital text-danger ms-auto"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-4 col-12 col-md-4 grid-margin"style="padding-top:20px">
                    <a href="#" style="text-decoration: none">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="padding-top:50px;">
                                    <div class="col-8 col-sm-12 col-xl-8 col-md-7 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h3 class="mb-0" style="color:white;font-size:20px; ">Jewellery</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-2 col-md-5 text-center text-xl-right">
                                        <i class="icon-lg mdi mdi-shopping text-warning ms-auto"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-4 col-12 col-md-4 grid-margin"style="padding-top:20px">
                    <a href="#" style="text-decoration: none">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="padding-top:50px;">
                                    <div class="col-8 col-sm-12 col-xl-8 col-md-7 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h3 class="mb-0" style="color:white;font-size:20px; ">Fashion</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-2 col-md-5 text-center text-xl-right">
                                        <i class="icon-lg mdi mdi-shopping text-warning ms-auto"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row" style="padding-top:20px;">
                <div class="col-lg-4 col-sm-4 col-12 col-md-4 grid-margin"style="padding-top:20px">
                    <a href="#" style="text-decoration: none">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="padding-top:50px;">
                                    <div class="col-8 col-sm-12 col-xl-8 col-md-7 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h3 class="mb-0" style="color:white;font-size:20px; ">Rental</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-2 col-md-5 text-center text-xl-right">
                                        <i class="icon-lg mdi mdi-content-paste text-danger ms-auto"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-4 col-12 col-md-4 grid-margin"style="padding-top:20px">
                    <a href="#" style="text-decoration: none">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="padding-top:50px;">
                                    <div class="col-8 col-sm-12 col-xl-8 col-md-7 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h3 class="mb-0" style="color:white;font-size:20px; ">Automobile</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-2 col-md-5 text-center text-xl-right">
                                        <i class="icon-lg mdi mdi-bus text-warning ms-auto"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-4 col-12 col-md-4 grid-margin"style="padding-top:20px">
                    <a href="#" style="text-decoration: none">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="padding-top:50px;">
                                    <div class="col-8 col-sm-12 col-xl-8 col-md-7 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h3 class="mb-0" style="color:white;font-size:20px; ">Education</h3>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-2 col-md-5 text-center text-xl-right">
                                        <i class="icon-lg mdi mdi-hospital text-warning ms-auto"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>