{% extends 'training/trainer\base_trainer.html' %} {% load static %} {% block content %}
<div class="row ">
    <h3 class="card-title text-center"style="color: white; font-weight: bold;"> TRAINEES&nbsp;LEAVE</h3><br><br>
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 mx-auto">
        <!-- <div class="col-md-8 grid-margin stretch-card mx-auto"> -->
            <br>
            <div class="card">
                <div class="card-body">
                    
                    <div class="row" style="margin-top: -16px">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12"><br></div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."
                                      title="Type in a name" style="color:white;">
                                </div>
                            </form>
                        </div>
                    </div> 

                    <div class="table-responsive">
                        <table class="table" id="myTable" >
                            <thead >
                                <tr style="color: white">
                                    <th style="color: white">
                                        <h4>Traine Name</h4>
                                    </th>
                                    <th style="color: white">
                                        <h4>From</h4>
                                    </th>
                                    <th style="color: white">
                                        <h4>To</h4>
                                    </th>
                                    <th style="color: white">
                                        <h4>Reason</h4>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <td>

                                        <span class="ps-2">Henry Klein</span>
                                    </td>
                                    <td>01-02-2021</td>
                                    <td>07-02-2021</td>
                                    <td>Sick leave</td>

                                   
                                </tr>
                                <tr >
                                    <td>
                                        <span class="ps-2">Estella Bryan</span>
                                    </td>
                                    <td>01-03-2221</td>
                                    <td>01-03-2221</td>
                                    <td>Going to Marriage</td>


                                    
                                </tr>
                                <tr >
                                    <td>

                                        <span class="ps-2">Lucy Abbott</span>
                                    </td>
                                    <td>10-04-2221</td>
                                    <td>20-04-2221</td>
                                    <td>Network Issue</td>


                                    
                                </tr>
                                <tr >
                                    <td>

                                        <span class="ps-2">Peter Gill</span>
                                    </td>
                                    <td>22-05-2221</td>
                                    <td>23-05-2221</td>
                                    <td>Going to Hospital</td>


                                    
                                </tr>
                                <tr >

                                    <td>

                                        <span class="ps-2">Sallie Reyes</span>
                                    </td>
                                    <td>10-10-2221</td>
                                    <td>12-10-2221</td>
                                    <td>System Down</td>

                                
                                </tr>
                                <tr >
                                    <td>

                                        <span class="ps-2">Henry Klein</span>
                                    </td>
                                    <td>01-02-2021</td>
                                    <td>07-02-2021</td>
                                    <td>Sick leave</td>

                                   
                                </tr>
                                <tr >
                                    <td>
                                        <span class="ps-2">Estella Bryan</span>
                                    </td>
                                    <td>01-03-2221</td>
                                    <td>01-03-2221</td>
                                    <td>Going to Marriage</td>


                                    
                                </tr>
                                <tr >
                                    <td>

                                        <span class="ps-2">Lucy Abbott</span>
                                    </td>
                                    <td>10-04-2221</td>
                                    <td>20-04-2221</td>
                                    <td>Network Issue</td>


                                    
                                </tr>
                                <tr >
                                    <td>

                                        <span class="ps-2">Peter Gill</span>
                                    </td>
                                    <td>22-05-2221</td>
                                    <td>23-05-2221</td>
                                    <td>Going to Hospital</td>


                                    
                                </tr>
                                <tr >

                                    <td>

                                        <span class="ps-2">Sallie Reyes</span>
                                    </td>
                                    <td>10-10-2221</td>
                                    <td>12-10-2221</td>
                                    <td>System Down</td>

                                
                                </tr>
                                <tr >
                                    <td>

                                        <span class="ps-2">Henry Klein</span>
                                    </td>
                                    <td>01-02-2021</td>
                                    <td>07-02-2021</td>
                                    <td>Sick leave</td>

                                   
                                </tr>
                                <tr >
                                    <td>
                                        <span class="ps-2">Estella Bryan</span>
                                    </td>
                                    <td>01-03-2221</td>
                                    <td>01-03-2221</td>
                                    <td>Going to Marriage</td>


                                    
                                </tr>
                                <tr >
                                    <td>

                                        <span class="ps-2">Lucy Abbott</span>
                                    </td>
                                    <td>10-04-2221</td>
                                    <td>20-04-2221</td>
                                    <td>Network Issue</td>


                                    
                                </tr>
                                <tr >
                                    <td>

                                        <span class="ps-2">Peter Gill</span>
                                    </td>
                                    <td>22-05-2221</td>
                                    <td>23-05-2221</td>
                                    <td>Going to Hospital</td>


                                    
                                </tr>
                                <tr >

                                    <td>

                                        <span class="ps-2">Sallie Reyes</span>
                                    </td>
                                    <td>10-10-2221</td>
                                    <td>12-10-2221</td>
                                    <td>System Down</td>

                                
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>

<!-- end here -->

{% endblock %}