{%extends 'training/manager\base_manager.html' %} {% load static %} {% block content %}
<style>
    #choose::file-selector-button {
        background-color: rgb(37, 125, 207);
        padding: 12px;
        color: white;
        width: 100px;
    }
</style>
<!-- Give task for trainees -->
<div class="row mt-5">
    <div class="col-12 col-sm-1 col-md-2 col-lg-2"></div>
    <div class="col-12 col-sm-10 col-md-9 col-lg-9 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mt-3" style="text-align:center">Attendance</h4>
                <form class="forms-sample" action="/manager_attendance_show/" method="post" enctype="multipart/form-data" autocomplete="OFF">
                    {% csrf_token %}
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <div class="row"></div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-md-3 col-lg-3 col-form-label mt-1">Select Category</label>
                                <div class="col-12 col-sm-8 col-md-8 col-lg-8 ">
                                    <select class="form-control" id="regdetailsdept" style="color:white;" name="Department" required>
                                        <option selected="true" disabled="disabled" value="">Select an option</option>
                                    <option value="">Computer Programming</option>
                                    <option value="">Accounts</option>
                                    <option value="">Computer Graphics</option>
                                    <option value="">Cadd</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-md-3 col-lg-3 col-form-label mt-1">Select Course</label>
                                <div class="col-12 col-sm-8 col-md-8 col-lg-8 ">
                                    <select class="form-control" id="regdetailsdept" style="color:white;" name="Department" required>
                                        <option selected="true" disabled="disabled" value="">Select an option</option>
                                    <option value="">Python</option>
                                    <option value="">Java</option>
                                    <option value="">C</option>
                                   
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-md-3 col-lg-3 col-form-label mt-1">Select Designation</label>
                                <div class="col-12 col-sm-8 col-md-8 col-lg-8 ">
                                    <select class="form-control" id="regdetailsdept" style="color:white;" name="Department" required>
                                        <option selected="true" disabled="disabled" value="">Select an option</option>
                                    <option value="">Trainer</option>
                                   
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-md-3 col-lg-3 col-form-label mt-1">Select Employee</label>
                                <div class="col-12 col-sm-8 col-md-8 col-lg-8 ">
                                    <select class="form-control" id="regdetailsdept" style="color:white;" name="Department" required>
                                        <option selected="true" disabled="disabled" value="">Select an option</option>
                                    <option value="">Henry Klein</option>
                                    <option value="">Klein</option>
                                    </select>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                                <label for="exampleInputEmail2" class=" col-form-label">Start Date</label>
                            </div>

                            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                                <input type="date" id="txtDate" name="startdate" class="form-control text-light" id="exampleInputStartdate" required>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                                <label for="exampleInputMobile" class=" col-form-label">End Date</label>
                            </div>

                            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                                <input type="date" id="txtDate1" name="enddate" class="form-control text-light" id="exampleInputEnddate" required>
                            </div>

                        </div>
          
                        
          <div class="row">
            <center>
              <button type="submit" class="btn btn-primary btn-icon-text mt-3" style="width: 140px;">
                Search
              </button>
            </center>
          </div>
       
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ends here -->

<script language="javascript">
   var dtToday = new Date();
   var dtToday = new Date();
   var month = dtToday.getMonth() + 1;
   var day = dtToday.getDate();
   var year = dtToday.getFullYear();
   if (month < 10)
        month = '0' + month.toString();
    if (day < 10)
        day = '0' + day.toString();
    var maxDate = year + '-' + month + '-' + day;
    document.getElementById("txtDate").setAttribute("max", maxDate);
    document.getElementById("txtDate1").setAttribute("max", maxDate);
    
            
</script>


{%endblock%}