{% extends 'developer\base_developer.html' %}
{% load static %}
{% block content %}




<div class="row">
  <div class="col-12 col-sm-6 col-md-6 col-lg-6 grid-margin"style="padding-top:20px">
    <a href="/developer_apply_leave/" style="text-decoration: none">
        <div class="card">
            <div class="card-body">
                <div class="row pt-3" >
                    <div class="col-8 col-sm-8 col-xl-8 col-md-7 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h3 class="mb-0" style="color:white;font-size:20px; ">Apply Leave</h3>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-xl-2 col-md-5 text-center text-xl-right">
                        <span class="icon-lg mdi mdi-archive text-primary ms-auto"></span>
                    </div>
                </div>
            </div>
        </div>
    </a>
  </div>
  
  <div class="col-12 col-sm-6 col-md-6 col-lg-6 grid-margin"style="padding-top:20px">
    <a href="/developer_apply_leave_list/" style="text-decoration: none">
        <div class="card">
            <div class="card-body">
                <div class="row pt-3" >
                    <div class="col-8 col-sm-8 col-xl-8 col-md-7 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h3 class="mb-0" style="color:white;font-size:20px; ">Requested leave</h3>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-xl-2 col-md-5 text-center text-xl-right">
                        <span class="icon-lg mdi mdi-arrange-send-to-back text-primary ms-auto"></span>
                    </div>
                </div>
            </div>
        </div>
    </a>
  </div>
  </div>

{% endblock %}