{%extends 'tester\base_tester.html' %} {%load static%} {%block content%}
<style>
    #choose::file-selector-button {
        background-color: rgb(37, 125, 207);
        padding: 12px;
        color: white;
        width: 100px;
  }
</style>
<div class="row mt-5">
    <div class="col-12 col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-12 col-sm-10 col-md-9 col-lg-7 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Pending Task</h4>
                <form class="forms-sample" action="trainer_taskfor">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="row"></div>
                            <div class="form-group row">
                                <label class="col-5 col-sm-5 col-md-3 col-lg-4 col-form-label ">Name
                                </label>
                                <div class="col-6 col-sm-7 col-md-6 col-lg-7 mt-2">
                                    <label for="exampleInputEmail2">Anandhu S</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-5 col-sm-5 col-md-3 col-lg-4 col-form-label">Project
                            Task</label>
                        <div class="col-7 col-sm-7 col-md-8 col-lg-7 mt-2">
                            <label for="exampleInputEmail2">Core new project 1</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-5 col-sm-5 col-md-3 col-lg-4 col-form-label">Due
                            Date</label>
                        <div class="col-7 col-sm-7 col-md-8 col-lg-7 mt-2">
                            <label for="exampleInputEmail2">01-03-2022</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2"
                            class="col-5 col-sm-5 col-md-3 col-lg-4 col-form-label">Screenshot</label>
                        <div class="col-7 col-sm-7 col-md-8 col-lg-7 mt-2">
                            <input type="file" class="form-control text-light" id="choose" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputEmail2"
                            class="col-5 col-sm-5 col-md-3 col-lg-4 col-form-label">Description</label>
                        <div class="col-7 col-sm-7 col-md-8 col-lg-7 mt-2">
                            <textarea class="form-control text-light" rows="30" id="" style="height: 140px"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-sm-5 col-md-5"></div>
                        <div class="col-7 col-sm-5 col-md-7">
                            <button class="btn btn-outline-primary btn-icon-text mt-3">
                                <i class="mdi mdi-file-check btn-icon-prepend"></i> Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ends here -->




{%endblock%}